* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;

	background-image: url('assets/img/stonepattern.jpg');
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
	width: 100%;
	height: 100%;
}

.candy {
	border: 2px solid black;
	cursor: pointer;
	position: relative;
	left: 0;
	top: 0;
	margin: 4px;
	transition: 200ms border;

	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

.highlighted {
	border: 6px solid red;
}

#status {
	background-color: whitesmoke;
	font-weight: bolder;
	font-size: 30px;
	padding: 10px;
	border-radius: 10%;
	margin: 5px;
	position: absolute;
	align-content: center;
	justify-content: center;
	font-family: fantasy;
}