* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-color: antiquewhite;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 100%;
}

#movable-entity-container {
	position: relative;
	transform: translate(-50%, -50%);
}

.movable-entity, .entity {
	position: absolute;
}

#scoreboard {
	position: relative;

	font-weight: bolder;
	font-size: larger;
}

#powers {
	max-height: 400px;
	max-width: 100px;
	position: relative;
}

#powers img {
	scale: 100%;
	max-width: 30px;
	max-height: 30px;
}

.menu {
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-top: 100px;
	margin-left: 200px;

	padding: 10px;

	background-color: salmon;
}

#bomb {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;
}